<div id="<%= dom_id landing %>">
  <p>
    <strong>Email:</strong>
    <%= landing.email %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= landing.twitter %>
  </p>

  <p>
    <strong>Fediverse:</strong>
    <%= landing.fediverse %>
  </p>

  <p>
    <strong>Accept coc:</strong>
    <%= landing.accept_coc %>
  </p>

  <p>
    <strong>Printed stickers already:</strong>
    <%= landing.printed_stickers_already %>
  </p>

</div>
